

body{
    margin: 0;
    padding-right: 50px;
    padding-left: 50px;
    background-color: rgb(156, 183, 213);
}

header{
    text-align: center;
    font-family: 'Cinzel';
    font-weight: bold;
}

header h1{
    color: white;
    font-family: 'Cinzel';
}

header p{
    border-style: outset;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

#game{
     display: flex;
    justify-content: space-around;   
}

.catCard{
    background-color: rgb(207, 226, 248);
    padding: 5px;
    border-radius: 10px;
    text-align: center; 
}
.catCard img{
    width: 50%;
    padding-top: 20px;
}

#computer{
    font-size: 1.3em;
}
#user{
    font-size: 1.3em;
}



button{
    margin: auto;
    background-color: white;
    border-radius: 15px;
    color: black;
    border-style: hidden;
    padding: 15px;
}

#startGame{
    transition: background-color 0.5s ease;
}
#startGame:hover{
    background-color: rgb(187, 207, 220);
}

#roundResult{
    margin: auto;
    
}

.hidden {
    display: none;
}

.showing {
    display: block;
}

#optionSection {
    display: flex;
    margin-top: 1%;
    align-items: center;
    flex-direction: column;
}

.playerButtons {
    width: 100px;
    height: 100px;
    padding: 0;
    border-radius: 50%;
    background-color: rgb(255, 193, 99);
    border-style: inset;
    border-color: aliceblue
}

.playerButtons img {
    width: 80%;
}

#winner{
    text-align: center;
}

/* text colors for wins and losses */

.greenText{
    color: rgb(0, 255, 0);
}

.redText{
    color: rgb(255, 0, 0);
}

#restartButton{
    background-color: white;
    border-style: inset;
    color: black;
    transition: background-color 0.5s ease;
}

#restartButton:hover{
    background-color: rgb(187, 220, 199);
}
