.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}
.titan-one-regular {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body{
    background-color: rgb(192, 229, 244);
}
header{
    text-align: center;
}

h1{
    font-family: "Shadows Into Light", cursive;
    font-size: 3em;
    margin: 25px;
}

div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form{

}
fieldset {
    border: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

label{
    
}

button{
    font-family: "Shadows Into Light", cursive;
    display: block;
    margin: auto;
    background-color: #B7D6FF;
    border-radius: 20px;
    border-style: none;
    font-size: 1.5em;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}