img {
    border-style: none;
    width: 100%;
    border-radius: 8px;
}

/* Banner */

#banner {
  height: 800px; /* how big the banner is */
  background-image: url("images/pink.png"); /* banner background */
  background-size: cover; /* makes sure no matter the height of banner the image will cover*/
  background-position: center 20%; /* changes the position of image in the banner */
}

#banner h2{
    position: absolute;
    background-color: white;
    padding: 10px;
    border-color: black;
    border-style: outset;
    right: 10px;
    bottom: 35%;
    font-size: 2em;
}

body{
    background-color: black;
}
main{
    margin: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Desk Image Map */

.deskImgMap{

}

#desk {
    position: relative;  
    width: 100%;            
    max-width: 800px;  
    margin: auto;
    aspect-ratio: 1 / 1;     
    overflow: hidden;  
    height: 500px;
}
#desk img {
    position: absolute;
    inset: 0;                 /* top:0; left:0; right:0; bottom:0 */
    width: 100%;
    object-fit: cover;        /* keeps proportions */
    border-radius: 0;    
}
#desk svg {
    position: absolute;
    inset: 0;
    width: 100%;
    opacity: 0;                  
}

.hidden {
    display: none;
}

.showing {
    display: block;
}
#overlay{
    background-color: #fff;
    padding: 10px;
    width: 25vw;
    height: fit-content;
    border-radius: 20px;
    position: absolute;
    top: 970px;
    right: 700px;
}

#overlay p{

}

#exit{
    text-align: right;
    margin: 5px;
}

#objectInfo{
    flex: 1;
    text-align: center;
    background-color: black;
    color: white;
}
#description{
    margin: 20px;
}
#description p{
    text-align: justify;
}


/* Inspo Slide Show */

.part2{
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
}

#slideshow{
     flex: 2;
    position: relative;
    top: 2px;
}

#myimage{
    width: 100%;
border-radius: 0;
}


#inspoText{
    text-align: center;
    flex: 1;
    background-color: white;
    margin-top: 110px;
    margin-bottom: 110px;
    /* border-radius: 10px; */
    margin-right: 50px;
    margin-left: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#inspoText p{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

#inspoText button{
    width: fit-content;
}

#buttons{
    display: flex;
    justify-content: inherit;
    padding-bottom: 10px;
}

/* Art Process  */

.part3{
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
}

#processTitle{
    margin: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
}

.artProcess {
    position: relative;
    width: 50%;
    margin: auto;
    aspect-ratio: 1 / 1;
    flex: 3;
}

.artProcess img {
    width: 100%;
    position: absolute; 
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
}

.artProcess img.sketch {
    opacity: 1;
    z-index: 1; 
}

.artProcess img.line {
    opacity: 0;
    z-index: 2;
}

.artProcess img.final {
    opacity: 0;
    z-index: 3;
}

.artProcess:hover img.sketch {
    opacity: 1;
}

.artProcess:hover img.line {
    opacity: 1;
    transition-delay: 0.8s; 
}

.artProcess:hover img.final {
    opacity: 1;
    transition-delay: 3s;
}

/* Finsihed Piece  */
.finished img{
    width: 100%;
}